<head>
    <link rel="stylesheet" href="../static/map.css">
    <link rel="stylesheet" href="../static/activity.css">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    
    
</head>
<html>
    <body>
        <div class = "activity">
            <a href="">
                <p id = "title">Title</p>
                <p id = "descruption">Description</p>
                <p id = "discipline">Discipline</p>
                <p id = "pathologies">Pathologies</p>
                <p id = "adress">Adresse</p>
                <div id="map" style=""></div>
                <script src="../static/map.js" >
                </script>
            </a>
        </div>
    </body>

</html>