<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
>
<head>

    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/activity.css}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

    <meta charset="UTF-8">
    <title>Activities</title>
    <link rel="stylesheet" href="../static/activity.css">

</head>
<body>
<header>
    <a href="/activities" class="headerConn">
        activities
    </a>
    <a href="/groups" class="headerConn">
        groups
    </a>
    <a href="/user" class="headerConn">
        profil
    </a>
    <a href="/deconnection" class="headerConn">
        deconnection
    </a>
</header>




<h1>Liste des articles</h1>
<br>
<h3>Pages:</h3>
<div>
    <a  th:if="${nbPage} > 0" th:text="${nbPage} " th:href="@{'/activities?filter=' + ${filter}+'&dir='+${dir}+'&page='+${nbPage - 1} + '&pageSize='+${sizePage}}"></a>
    <a th:text="${nbPage} +1" ></a>
    <a th:text="${nbPage} + 2 " th:href="@{'/activities?filter=' + ${filter}+'&dir='+${dir}+'&page='+${nbPage+1} + '&pageSize='+${sizePage}}"></a>

</div>

<form action="/activities" method="get">
    <br>
    <label>
        Nombre d'élément par page
        <input type="number" name="pageSize" th:value="${sizePage}">
    </label>
    <br>
    <label for="activitySearch">
        Filtre
    </label>
    <input type="text" id="activitySearch" name="activitySearch"></input>


    <br>
    Option de filtre:
    <label for="description">description</label>
    <input type="radio" name="filtre" id="description" value="description" >
    <label for="name">nom</label>
    <input type="radio" name="filtre" id="name" value="name" >
    <label for="pathologie">pathologie</label>
    <input type="radio" name="filtre" id="pathologie" value="pathologie" >
    <br>
    Ordre alphabétique:
    <label for="dec">décroissant</label>
    <input type="radio" name="dir" id="dec" value="dec">
    <label for="asc">croissant</label>
    <input type="radio" name="dir" id="asc" value="asc">
    <br>
    <button type="submit">search</button>
</form>

<div th:each="ac : ${activities}">
    <div class = "activity">
        <a th:href="@{'/activity?id=' + ${ac.getId()}}" >
            <p id = "title" th:text="${ac.getName()}"></p>
            <p id = "descriptionShow" th:text="${ac.getDescription()}">Description</p>
            <p id = "discipline" th:text="${ac.getDiscipline()}">Discipline</p>
            <p id = "pathologies" th:text="${ac.getPathologie()}">Pathologies</p>
            <p id = "address" th:text="${ac.getAddress()}">Adresse</p>

        </a>
    </div>
    <hr>
    <br>
</div>
</body>
</html>