<!doctype html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Activité</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/map.css}">
    <link rel="script" type="text/js" th:href="@{/map.js}">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
</head>
<body>
<header>
    <a href="/activities" class="headerConn">
        activities
    </a>
    <a href="/groups" class="headerConn">
        groups
    </a>
    <a href="/user" class="headerConn">
        profil
    </a>
    <a href="/deconnection" class="headerConn">
        deconnection
    </a>
</header>
<!--Début page de recherche d'activité-->
<h1 id = "title">Recherche d'activité</h1>


<div id="result" name="result">
    <h2 id="activityTitle" th:text="${activity.getName()}">Titre</h2>
    <p id = "descruption" th:text="${activity.getDescription()}">Description</p>
    <p id = "discipline" th:text="${activity.getDiscipline()}">Discipline</p>
    <p id = "pathologies" th:text="${activity.getPathologie()}">Pathologies</p>
    <p id = "adress" th:text="${activity.getAddress()}">Adresse</p>
    <p id = "lat" th:text="${activity.getLat()}" th:name="lat"></p>
    <p id = "lng" th:text="${activity.getLng()}" th:name="lng"></p>
    <p th:text="${activity.getId()}"></p>

</div>
<!--Fin age de recherche d'activité-->

<br>
<hr>
<div id="map" style=""></div>
<script th:inline="javascript">
    var la = [(${activity.getLat()})];
    var lng = [(${activity.getLng()})];

    console.log(la);
</script>
<script th:src="@{/map.js}">

</script>
<h3>Ajouter au groupe</h3>

<form action = "/add" method="get">
    <select name="choice" id = "choiceGroup" >
        <option
                th:each="group : ${groups}"
                th:text="${group.name}"
                th:value="${group.id}"
        >
    </select>
    <br>
    <input type="hidden" name="activity" th:value="${activity.getId()}">
    <input type = "submit" id = "submitGroup" text = "Ajouter au groupe" value =  "Submit"/>
</form>
<br>
<h3>Créer un groupe</h3>
<!-- th:action="@{'/createGroup?id=' + ${activity.getId()}}"-->

<form action = "/createGroup" method="get" name="submitcreategroupe">
    <label for="nomGroup">Nom du groupe:</label>
    <input type="text" name="nomGroup" id="nomGroup" required minlength ="1" autofocus/>
    <br>
    <input type="hidden" name="id" th:value="${activity.getId()}"/>

    <input type = "submit" id = "submit" text = "confirmer" value =  "Submit"/>
</form>





</body>
</html>