<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">

    <title>Inscription</title>
</head>
<body>
    <h1>Inscription</h1>
    <form action = "/sub" method="post">
        <label for="nickname">Pseudo :</label>
        <input type = "text" id = "nickname" name = "nickname" required minlength = "1" size = "15" autofocus/>
        <br>
        <label for="password">Mot de passe :</label>
        <input type = "password" id = "password" name = "password" required minlength = "1" size = 15/>
        <br>
        <label for="password2">Confirmé mot de passe:</label>
        <input type = "password" id = "password2" name = "password2" required minlength = "1" size = 15/>
        <br>
        <label for="age">Age :</label>
        <input type = "number" id = "age" name = "age" required minlength = "1"/>
        <br>
        <label for="sexe">Sexe :</label>
        <select name="sexe" id="sexe">
            <option value="A" >Ne pas définir</option>
            <option value="M">Masculin</option>
            <option value="F">Féminin</option>
        </select>
        <br>
        <label for="pathologie">pathologie :</label>
        <input type = "text" id = "pathologie" name = "pathologie"/>
        <br>
        <input type = "submit" id = "submit" text = "confirmer" value =  "Submit"/>
    </form>
    <br>
    <a href="connection.html">
        <button>Connexion</button>
    </a>
</body>
</html>