<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/map.css}">
    <link rel="script" type="text/js" th:href="@{/map.js}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

    <title>Title</title>
</head>
<body>

<header>
    <a href="/activities" class="headerConn">
        activities
    </a>
    <a href="/groups" class="headerConn">
        groups
    </a>
    <a href="/user" class="headerConn">
        profil
    </a>
    <a href="/deconnection" class="headerConn">
        deconnection
    </a>
</header>

    <a th:href="@{'/group?id=' + ${group.getId()}}">
        <p>Retour</p>
    </a>
    <h1 th:text="${iteration.getId()}"></h1>
    <h2 th:text="${group.getName()}"></h2>
    <h2 th:text="${activity.getName()}"></h2>
    <p th:text="${activity.getDescription()}"></p>
    <br>
    <h4>Note:</h4>
    <br>
    <form method="get" action="/noteActivity">
        <input hidden name="idIterate" th:value="${iteration.getId()}">
        <select name = "note">
            <option value = ""
            ></option>
            <option value="1"
                    th:selected="${iteration.getNote()} == 1 ? true : false"
            >1</option>
            <option value="2"
                    th:selected="${iteration.getNote()} == 2 ? true : false"
            >2</option>
            <option value="3"
                    th:selected="${iteration.getNote()} == 3 ? true : false"
            >3</option>
            <option value="4"
                    th:selected="${iteration.getNote()} == 4 ? true : false"
            >4</option>
            <option value="5"
                    th:selected="${iteration.getNote()} == 5 ? true : false"
            >5</option>
        </select>
        <input type="submit">
    </form>

<hr>
<div id="map" style=""></div>
<script th:inline="javascript">
    var la = [(${activity.getLat()})];
    var lng = [(${activity.getLng()})];

    console.log(la);
</script>
<script th:src="@{/map.js}">

</script>

</body>
</html>